<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <title>Requetator</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />

    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="lib/jquery-1.10.2.js "></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="AppController">
    <ons-modal var="modal">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br>
        <br> Analyse en cours ...
        <br> La liste des appareils va s'afficher dans quelques instants
    </ons-modal>
    <ons-modal var="analyse">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br>
        <br> Analyse en cours ...
        <br> La requête est en cours d'éxécution
    </ons-modal>
    <ons-navigator title="Navigator" var="nav">
        <ons-toolbar fixed-style>
            <div class="center">Appareils connectés le <strong>{{time}}</strong></div>
        </ons-toolbar>
        <ons-page id="page">
            <ons-scroller>
                <ons-list>
                    <ons-list-item modifier="chevron" ng-repeat="a in addresses | orderBy:'status'" ng-click="getMac(a.ip_address)" onclick="nav.pushPage('details.html', { animation : 'slide' } )">
                        <ons-icon ng-if="a.status == 'active'" icon="ion-ios-pulse-strong" style="color:#16a085;"></ons-icon>
                        <ons-icon ng-if="a.status == 'inactive'" icon="ion-ios-pulse-strong" style="color:#c0392b;"></ons-icon>
                        {{a.ip_address}} (<strong>{{a.mac_address}}</strong>)
                    </ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-navigator>
    <ons-template id="details.html">
        <ons-toolbar fixed-style>
            <div class="left">
                <ons-back-button>Retour</ons-back-button>
            </div>
            <div class="center">Options pour ce périphérique</div>
        </ons-toolbar>
        <ons-page id="details">
            <div style="text-align: center" class="content-padded">
                <ons-button ng-click="ping(ip_address)">Requête ping</ons-button>
                <ons-button ng-click="arpPoisonning(ip_address)">ARP Poisonning</ons-button>
            </div>
        </ons-page>
    </ons-template>
</body>
</html>
